---
import Hero from "../components/SearchHero"
import Navbar from "../components/Navbar";
---

<html lang="en" id="wrap">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta property='og:title'  content='Lucid'>
		<meta property='og:site_name' content='Lucid'>
		<meta name="keywords" content="unblocker, games, proxy, vpn, nova, lucid unblocker, lucid">
		<meta name="description" content="Lucid is an internet utility that provides more functionality for users. A Nova Service. ">
		<title>Lucid</title>
	</head>
	<body>
		<script>
			if ("serviceWorker" in navigator) {
				window.addEventListener("load", function () {
					navigator.serviceWorker
					.register("/sw.js")
					.then(res => console.log("service worker registered"))
					.catch(err => console.log("service worker not registered", err))
				})
			}
			if (localStorage.getItem("circumventionMethod") === null) {
				var theme = "Luxury";
			} else {
				var theme = localStorage.getItem("themeMethod").toLowerCase()
				const taggy = document.getElementById("wrap")
				taggy.setAttribute("data-theme", theme)
			}
			
		</script>
		<Navbar />
		<Hero />
		<script>
			const searchBox = document.getElementById("searchBox");
			const searchButton = document.getElementById("searchButton");

			searchButton.addEventListener("click", function() {

				if (localStorage.getItem("circumventionMethod") === null || localStorage.getItem("circumventionMethod") === "UltraViolet") {
					window.navigator.serviceWorker.register('/sw.js', {
        			scope: __uv$config.prefix
    			})

				if (localStorage.getItem("cloakingMethod") === null || localStorage.getItem("cloakingMethod") === "Plain") {
					console.log("hirer")
					let url = searchBox.value.trim();
					if (!isUrl(url)) url = 'https://www.google.com/search?q=' + url;
					else if (!(url.startsWith('https://') || url.startsWith('http://'))) url = 'http://' + url;

					window.location.href = __uv$config.prefix + __uv$config.encodeUrl(url);
				} else {

					let url = searchBox.value.trim();
					if (!isUrl(url)) url = 'https://www.google.com/search?q=' + url;
					else if (!(url.startsWith('https://') || url.startsWith('http://'))) url = 'http://' + url;

					let urle = window.location.origin + `${__uv$config.prefix + __uv$config.encodeUrl(url)}`;
					var win = window.open();
					win.document.body.style.margin = '0';
					win.document.body.style.height = '100vh';
					let iframe = win.document.createElement('iframe');
					iframe.style.border = 'none';
					iframe.style.width = '100%';
					iframe.style.height = '100%';
					iframe.style.margin = '0';
					iframe.src = urle;
					win.document.body.appendChild(iframe);
				}
				} else {
					window.navigator.serviceWorker.register('/sw.js', {
        			scope: '/service'
    				})

					if (localStorage.getItem("cloakingMethod") === null || localStorage.getItem("cloakingMethod") === "Plain") { 
						console.log("hier")
						let url = searchBox.value.trim();
						if (!isUrl(url)) url = 'https://www.google.com/search?q=' + url;
						else if (!(url.startsWith('https://') || url.startsWith('http://'))) url = 'http://' + url;

						location.assign(window.__DIP.config.prefix + window.__DIP.encodeURL(url));
					} else {
						let url = searchBox.value.trim();
						if (!isUrl(url)) url = 'https://www.google.com/search?q=' + url;
						else if (!(url.startsWith('https://') || url.startsWith('http://'))) url = 'http://' + url;

						let urler = window.location.origin + `${__DIP.config.prefix + __DIP.encodeURL(url)}`;

						var wine = window.open();
						wine.document.body.style.margin = '0';
						wine.document.body.style.height = '100vh';
						let iframe = wine.document.createElement('iframe');
						iframe.style.border = 'none';
						iframe.style.width = '100%';
						iframe.style.height = '100%';
						iframe.style.margin = '0';
						iframe.src = urler;
						wine.document.body.appendChild(iframe);
					}

				}

				


				


				function isUrl(val = ''){
					if (/^http(s?):\/\//.test(val) || val.includes('.') && val.substr(0, 1) !== ' ') return true;
					return false;
				};
			})
		</script>

		<script src="/uv/uv.bundle.js" is:inline></script>
		<script src="/uv/uv.config.js" is:inline></script>
		<script src="/dip/dip.config.js" is:inline></script>
		<script src="/dip/dip.page.js" is:inline></script>

	</body>
</html>
